// Style Newsletters
.widget_mc4wp_form_widget{
    .widgettitle{
    }

}
.newsletters{
    color: #757575;
    .form-newsletter{
        //background: #ECECEC;
    }
    .des-newsletter{
        line-height: 24px;
        padding-top: 30px;
    }
    .group-input-newsletter{
        display:block;
        padding: 30px 0px 0px;
    }
    input,.form-control{
        height: 40px;
        font-size: 14px;
    }
    #mc4wp{
        background:#fff;
        height: 50px;
        min-width: auto;
        width: 100%;
        border-radius:0px;
        display: block;
        padding:7px 15px;
        &.form-control::-moz-placeholder {
            color: #999999;
        }
    }
    .input-group-btn{
        display: block;
        width: 100%;
        white-space: normal;
    }
    .form-control::-moz-placeholder{
        font-size: 13px;
    }
    .btn-newsletter{
        padding: 0;
        margin-top: 10px;
        background: $color-title;
        border-radius: 0;
        color:#fff;
        height: 50px;
        width: 100%;
        letter-spacing: 1px;
        margin-left: 0 !important;
        font-size: 14px;
        text-transform:uppercase;
        font-weight: 500;
        &:hover{
            background: $theme-color;
            color:#fff;
        }
    }
    .input-group{
        display: block;
    }
}
.mc4wp-response {
    bottom: -10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.widget_mc4wp_form_widget{
    > form{
        position: relative;
    }
}