//Style Footer
.scrollup {
    border-radius: 100%;
    color: #151515 !important;
    cursor: pointer;
    height: 50px;
    left: 0;
    margin: auto;
    padding: 2px;
    position: absolute;
    right: 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    top: -30px;
    width: 50px;
    z-index: 999;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    line-height: 46px;
    &:hover{
        background: $theme-color;
        color: #FFF !important;
    }
}

#na-footer {
    font-weight: 400;
    background: #f9f9f9;
    color:$footer-color ;
    font-size: 14px;
    .footer-top{
        padding-top: 100px;
        text-align: center;
    }
    .footer-center {
        position: relative;
        padding-top: 60px;
        .container-inner{
            padding-bottom: 40px;
            border-bottom: 1px solid #e8e8e8;
        }
    }
    .footer-bottom {
        padding: 30px 0;
        font-size: 14px;
        line-height: 30px;
        .coppy-right {
            text-align: left;
            a {
                color:$footer-title-color;
                font-weight: 500;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
    .footer-bottom-right{
        text-align:right;
        ul{
            padding:0;
            margin: 0;
            list-style: none;
            float: right;
            li{
                display: inline-block;
                margin-left: 15px;
                font-size: 14px;
                padding: 0;
            }
        }
    }


    .benko-image-content{
        padding: 100px 0 50px;
    }
    .fa-heart{
        color: $theme-color;
    }
    .post-sidebar .article-image{
        width: 30%;
    }
    .widget{
        margin-bottom: 30px;      
        p{
            line-height: 26px;
            margin-bottom: 20px;
        }     
        .contact-info{
            li{
                padding-bottom: 14px;
            }
        }     
    }
}

.timeline-Tweet:hover{
    background: transparent !important;
}