//Hearder

//Keep - Header
.header-placeholder{
    display: none;
    &.fixed{
        display: block;
    }
}

.site-header{
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border-bottom: 0 none;
    width: 100%;
    background: #0C0C0E;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    border-bottom: 0 none;
    &:before{
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0%, transparent 0%, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0 0;
        bottom: 0;
        height: 100%;
        left: 0;
        margin: auto;
        pointer-events: none;
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
    }
}

.site-title{
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 15px;
    a{
        color: $color-title;
        text-transform: uppercase;
        font-weight: 500;
    }
}
.site-description{
    margin-bottom: 15px;
}


//HEADER Simple---------------------------------------------------------------------------------------------------------
#benko-header{
    position: relative;
}

.header-topbar{
    background: #201e1f;
    .nav{
        font-size: 11px;
        color: #fff;
        li > a{
            @include rtl-padding(0,25px,0,0);
            line-height: 40px;
            color: #ccc;
            text-transform: uppercase;
            &:hover,&:active{
                background: none;
                color:$theme-color;
            }
        }
    }
    .topbar-right{
        @include rtl-text-align-right();
        line-height: 40px;
    }
    .benko-social-icon a:hover{
        //color: #fff;
    }

}

.benko-header-content{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}
.header-content-logo{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-content-menu {
    position: relative;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 0 30px;
    >.nav-menu{
        @include rtl-float-right();
    }
}
.header-content-right{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

//HEADER Center---------------------------------------------------------------------------------------------------------
.header-center{
    #benko-header{
        text-align: center;
    }
    .container{
        position: relative;
    }
    .header-content-logo{
        padding: 60px 0 40px;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .site-logo{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .benko-header-content{
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .header-content{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #na-menu-primary ul.mega-menu > li > a{
        line-height: 60px;
    }
    #na-menu-primary ul > li.current-menu-item{
        background: none;
        color: $theme-color;
    }
    #na-menu-primary ul > li.current-menu-item > a, #na-menu-primary ul > li.current-menu-item:focus > a{
        color: $theme-color;
    }
    .topbar-left{
        @include rtl-text-align-left();
    }
}
//HEADER Left-----------------------------------------------------------------------------------------------------------
.benko-header-left{
    .cat-header {
        text-align: left;
        padding-top: 60px;
        padding-bottom: 0px;
        background: transparent;
    }
    .title-page, .title-cat{
        font-weight: 700;
    }
}

.header-left{
    &.site-header{
    }
    #benko-header{
        @include rtl-text-align-left();
    }

    .header-content-logo{
        padding: 30px 15px;
    }
    .header-content{
        background: #f9f9f9;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .benko-header-content{
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .header-content-right{
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    #na-menu-primary ul.mega-menu > li > a{
        line-height: 90px;
    }

    .header-content-logo{
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .header-middle{
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .site-logo{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    #na-menu-primary ul.mega-menu > li:first-child > a{
        @include rtl-padding-left(0);
    }
}
//HEADER drawer---------------------------------------------------------------------------------------------------------
.header-drawer{
    background: $menu-bg;
    #benko-top-navbar{
        background:transparent ;
    }
    #benko-header{
        background: transparent;

    }
    .na-cart .mini-cart {
        @include rtl-padding-left(20px);
        @include rtl-padding-right(30px);
        padding-top: 10px;
    }
    .search-menu{
        background: $search-menu ;
        max-width: 700px;
        min-width: 600px;
        border-radius: 3px !important;
        vertical-align: middle;
        display: inline-block;
        .btn-primary{
            background: transparent;
            color: $search-color;
            cursor: text;
            &:hover{
                color: #e0e0e0;
            }
        }
        .form-control{
            background:$search-menu ;
            border-radius: 3px !important;
            border-color: $search-menu ;
            padding: 7px 20px;
            height: 44px;
            color:$search-color;
            &:focus{
                border-color: $search-menu ;
                &::-moz-placeholder{
                    opacity: 0;
                }
            }
            &::-moz-placeholder{
                color: $search-color
            }
        }
    }
    .searchform{
        padding: 0;

    }
    .header-content-menu{
        text-align: center;
    }
}

//Menu Drawer  ---------------------------------------------------------------------------------------------------------
.menu-drawer{
    position: fixed;
    z-index: 9999;
    background: #FFF;
    @include rtl-left(0);
    width: 250px;
    @include rtl-border-right( 1px solid #EFEFEF) ;
    height: 100%;
    >*{
        padding-top: 30px;
    }
    @include transition(0.2s);
    transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    &.show{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
    #na-menu-primary{
        ul.mega-menu > li{
            float: none;
            &:hover{
                background: #E5E5E5;
            }
        }
        ul.mega-menu > li > a{
            display: block;
            line-height: 50px;
            padding: 0 30px;
            text-transform: capitalize;
            color: #757575;
            &:hover{
                color: $theme-color;
            }
        }
        ul > li[class*="-has-children"] > a::before{
            @include rtl-right(20px);
            color:#757575 ;
        }
        //lv2
        ul.mega-menu > li ul{
            top:100%;
            @include rtl-left(100%);
        }
        ul.mega-menu > li:hover ul{
            top:0;
        }
        ul.mega-menu li.mega-menu-megamenu{
            position:relative;
        }
        ul.mega-menu {
            > li.mega-menu-flyout > ul{
                min-width: 300px;
            }
            > li > ul{
                min-width: 900px;
                max-width: 1170px;
            }
        }
        //lv3
        ul.mega-menu li ul  ul{
            margin: 0;
            padding: 0;
            display: block;
            @include rtl-left(0);
            position: relative;
        }
    }
}

//Login ----------------------------------------------------------------------------------------------------------------
.benko-header-content .user-login {
    cursor: pointer;
    position: relative;
    .author-img{
        padding: 0;
    }
    &:hover {
        #menu-topbar-menu{
            top: 45px;
            opacity: 1;
            visibility: visible;
            @include transition(0.4s);
        }
    }
    #menu-topbar-menu{
        background: #FFFFFF none repeat scroll 0 0;
        box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.15);
        min-width: 125px;
        padding: 10px;
        position: absolute;
        @include rtl-right(0px);
        top: 60px;
        @include transition(0.4s);
        opacity: 0;
        visibility: hidden;
        li{
            float: none;
            font-size: 12px;
            >a{
                padding: 5px;
                &:hover,&:focus{
                    background: none;
                }
            }
        }
    }
}

//Menu Vertical  ---------------------------------------------------------------------------------------------------------
.header-vertical{
    .header-content-menu{
        padding: 23px 30px;
        text-align: center;
        border-bottom:1px solid rgba(225, 225, 225, 0.5) ;
    }
    background: $menu-bg;
    #benko-top-navbar{
        background:transparent ;
    }
    #benko-header{
        background: transparent;

    }
    .na-cart .mini-cart {
        @include rtl-padding-left(20px);
        @include rtl-padding-right(30px);
        padding-top: 10px;
    }
    .search-menu{
        background: $search-menu;
        max-width: 700px;
        min-width: 600px;
        border-radius: 3px !important;
        vertical-align: middle;
        display: inline-block;
        .btn-primary{
            background: transparent;
            color: $search-color;
            cursor: text;
            &:hover{
                color: $search-color;
            }
        }
        .form-control{
            background:  $search-menu;
            border-radius: 3px !important;
            border-color: $search-menu;
            padding: 7px 20px;
            height: 44px;
            color:$search-color;
            &:focus{
                border-color: $search-menu;
                &::-moz-placeholder{
                    opacity: 0;
                }
            }
            &::-moz-placeholder{
                color: $search-color;
            }
        }
    }
    .searchform{
        padding: 0;

    }
}
.layout-header-vertical {
    .site-content >.container ,#na-footer >*{
        transform: translateX(120px);
        -webkit-transform: translateX(120px);
        -ms-transform: translateX(120px);
        -o-transform: translateX(120px);
    }
}
.menu-vertical{
    position: fixed;
    z-index: 9999;
    background: $menu-bg;
    @include rtl-left(0);
    width: 250px;
    height: 100%;
    @include rtl-border-right( 1px solid #dedede) ;
    >*{
        padding-top: 10px;
    }
    .header-content-logo{
        @include rtl-padding-left(30px);
        padding-bottom: 10px;
        border-bottom:1px solid rgba(225, 225, 225, 0.5) ;
    }

    #na-menu-primary{
        ul.mega-menu > li{
            float: none;
            &:hover{
                background: #E5E5E5;
            }
        }
        ul.mega-menu > li > a{
            display: block;
            line-height: 50px;
            padding: 0 30px;
            text-transform: capitalize;
            color:$menu-color;
            &:hover{
                color: $theme-color;
            }
        }
        ul > li[class*="-has-children"] > a::before{
            @include rtl-right(20px);
            color:#757575 ;
        }
        //lv2
        ul.mega-menu > li ul{
            top:100%;
            @include rtl-left(100%);
        }
        ul.mega-menu > li:hover ul{
            top:0;
        }
        ul.mega-menu li.mega-menu-megamenu{
            position:relative;
        }
        ul.mega-menu {
            > li.mega-menu-flyout > ul{
                min-width: 300px;
            }
            > li > ul{
                min-width: 900px;
                max-width: 1170px;
            }
        }
        //lv3
        ul.mega-menu li ul  ul{
            margin: 0;
            padding: 0;
            display: block;
            @include rtl-left(0);
            position: relative;
        }
    }
}

//benko icon  -------------------------------------------------------------------------------------------------------
.benko_icon{
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    margin-right: 30px;
    margin-left: 30px;
    .benko_icon-bar{
        background: $icon-bar;
        display: block;
        height: 2px;
        margin: 4px;
        position: relative;
        width: 22px;
        @include transition(0.4s);
    }
    &:hover{
        .benko_icon-bar{
            @include transition(0.4s);
            background: $icon-bar-hover;
        }
    }
}
// Style ---------------------------------------------------------------------------------------------------------------
.site-description{
    font-size: 14px;
    color: white;
}
.style_black,.header-simple{
    .site-description{
        font-size: 14px;
        color: white;
    }
}
.style_white{
    .site-description{
        color: #282828;
        font-size: 14px;
    }
    &.site-header{
        background: #fff;
        &:before{
            background:#fff;
        }
    }
    .btn-mini-search{
        color: $color-title;
        &:hover{
            color:$theme-color;
        }
    }
    #na-menu-primary ul.mega-menu > li > a,#na-menu-primary ul > li[class*="-has-children"] > a::before{
        color: $color-title;
        &:hover ,&:focus{
            color: $color-title;
        }
    }
    #na-menu-primary ul > li.current-menu-item{
        background: none;
    }
    #na-menu-primary ul > li.current-menu-item > a{
        color:$theme-color;

    }

    &.header-center #na-menu-primary ul > li.current-menu-item > a, .header-center #na-menu-primary ul > li.current-menu-item:focus > a{
        color: $theme-color;
    }
    &.header-left .header-content{

    }
    .header-topbar .nav li > a{
        color:#a3a3a3;
        &:hover{
            color: $theme-color;
        }
    }
}

//amp
#headerwrap .callnow {
    color: black !important;
    right: 0 !important;
    top: -30px !important;
    a{
        color: black !important;
    }
}