
.widget{
    //border: 1px solid black;
    select{
    }
    &.center{
        text-align: center;
    }
    &.left{
        @include rtl-text-align-left();
    }
    &.right{
        text-align: center;
    }
}

//title widget
.widgettitle{
    padding:0px 0px 5px;
    color: $color-title;
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom:0px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: $font-family-two;
    border-bottom: 1px solid #e7e7e7;
    span{
        display: inline-block;
        overflow: hidden;
        position: relative;
    }

    &::after{
        content: "";
        position: absolute;
        left: 0;
        margin: auto;
        width:50px;
        height:2px;
        background: $theme-color;
        bottom:-1px;
        text-align: center;
    }

}

//Content widget
.widgetcontent{
}

//calendar
.widget_calendar{
    table > thead > tr > th{
        border-bottom: $border-color-base;
    }
}
//featured-post
.featured-post{
    counter-reset: my-badass-counter;
    .post-text{
        position: relative;
        margin-bottom: 40px;
        .entry-title{
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 5px;
            margin-top: 0;
        }
        &:before{
            content: counter(my-badass-counter);
            counter-increment: my-badass-counter;
            position: absolute;
            @include rtl-right(0);
            top: -20px;
            color: #edc3cf;
            font-size: 80px;
            font-weight: 300;
        }
    }
}

//widget_layered_nav
.widget_layered_nav,.widget_layered_nav_filters{
    ul li{
        &.chosen{
            vertical-align:middle;
            color: $theme-color;
             > a{

                 color: $theme-color;
                 &:before {
                     border: none;
                     background: $theme-color;
                 }
                 &:after{
                     color: #FFF;
                     content: "";
                     display: block;
                     font-family: "icomoon";
                     font-size: 16px;
                     height: 18px;
                     @include rtl-left(0px);
                     position: absolute;
                     text-align: center;
                     top: 0;
                     width: 18px;
                     line-height: 18px;
                     z-index: 10;
                 }
                 &:hover{
                     &:after{
                         content: "\e780";
                     }
                 }
             }
        }
        a{
            line-height: 20px;
            position: relative;
            @include rtl-padding-left(30px);
            display: inline-block;
            &:before {
                content: "" !important;
                width: 18px;
                height: 18px;
                border: 1px solid #dfdfdf;
                display: block;
                position: absolute;
                @include rtl-left(0);
                border-radius: 100%;
                top: 0px;
                z-index: 5;
                background: transparent;
            }
            &:hover:before {
                border: none;
                background: $theme-color;
            }
        }
        &:hover .count{
            color: $theme-color;
        }
    }
}
.widget_layered_nav_filters{
    ul li{
        &.chosen{
            > a {
                &:after {
                    color: #FFF;
                    content: "\e780";
                    display: block;
                    font-family: "icomoon";
                    font-size: 16px;
                    height: 18px;
                    @include rtl-left(0px);
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 18px;
                    line-height: 18px;
                    z-index: 10;
                }
            }
        }
    }
}

//widget_search


//information_widget
.information_widget{
    .logo-footer{
        width: auto;
        margin-top: 15px;
    }
    .description{
        margin: 20px 0 15px;
        line-height: 30px;
    }
}
.page-content .wpb_revslider_element{
    margin-bottom: 0;
}

//widget-related
.widget-related {
    .widgettitle{
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .related-wrapper{
        margin-bottom: 50px;
    }
}

.widget.recent_blog{
    padding-bottom: 0;
    .post-item{
        position: relative;
    }
    .widgettitle{
        font-size: 20px;
        color:$color-title;
        font-weight: 500;
        text-transform: uppercase;
        border: none;
        padding-bottom: 20px;
    }
    ul > li {
        @include rtl-padding-left(30px  !important);
    }
    li > a{
        font-weight: 500;
        color:$color-title;
    }

    .post-date{
        display: block;
    }
    .entry-title{
        padding: 0;
    }
    .entry-header{
        padding:15px 0;
    }
    .entry-title a{
        color: $color-title;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        @include rtl-padding-left(10px);
        display: block;
        &:hover{
            color: $theme-color;
        }
    }
    .entry-meta{
        font-size: 12px;
        color: $font-color;
        @include rtl-padding-left(10px);
        display: block;
    }
    .number-post{
        background: #ff4422 none repeat scroll 0 0;
        border: 2px solid #fff;
        border-radius: 100%;
        color: white;
        font-size: 14px;
        font-weight: 500;
        height: 35px;
        @include rtl-left(-15px);
        line-height: 34px;
        position: absolute;
        text-align: center;
        top: 40px;
        width: 35px;
        z-index: 99;
    }
    .size-benko-sidebar{

    }
    .entry-header-title{
        @include rtl-float-left();
        width: 70%;
    }
    .post-item:last-child{
        border: none;
    }
    .post-image{
        @include rtl-float-left();
        width: 30%;
    }
    .no-image{
        .number-post{
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            color: #f2756f;
            font-size: 30px;
            font-weight: 300;
            @include rtl-left(-5px);
            top: 15px;
        }
        .entry-header-title{
            @include rtl-padding-left(40px);
            width: 100%;
        }
    }

}

//widget_apsc_widget
.widget_apsc_widget{
    margin-bottom: 60px;
}
.wpcf7-form{
    label{
        display: block;
    }
    .wpcf7-form-control{
        display: block;
        width: 100%;
    }
}
//widget-carousel
.widget-carousel{
    .article-content{
        padding-right: 15px;
    }
}
//widget_media_image
.widget_media_image{
    text-align: center;
}
//widget_slider_post
.widget_slider_post{
    .post-tran .article-meta a{
        color: #fff;;
        &:hover{
            color: $theme-color;
        }
    }
    .slick-dots{
        left: 25px;
        bottom: 5px;
    }
}
//widget_contact_info
.widget_contact_info{
    .about-image{
        margin: 22px 0 20px;
    }
    .description{
        font-size: 15px;
        line-height: 30px;
    }
}
.widget_recent_entries{
    li a{
        display: block;
        color: $color-title;
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 5px;
    }
}
.widget_popular-tags{
    .tag-cloud-link{
        display: inline-block;
        background: #FAFAFA;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        margin-left: 5px;
        padding: 7px 10px;
        @include transition(0.4s);
        &:hover{
            color: $color-title;
            border: 1px solid $color-title;
            @include transition(0.4s);
        }
    }
}