//Style share box
.share-links{
    text-align: center;
    @include rtl-padding-left(20px);
    .count-share {
        vertical-align: middle;
        color: #252525;
        position: relative;
        i{
            font-size: 16px;
            color: $theme-color;
        }
        .social-item{
            i{
                font-size: 16px;
                color: #fff;
                @include rtl-padding-right(0px);
            }
        }
    }
    .social-icons{
        margin: 0;
        @include rtl-text-align-right();
        display: inline-block;
        i{
          font-size: 14px;
          color:#fff;
        }
    }
    .social-item{
        font-size: 20px;
        cursor: pointer;
        @include rtl-margin-left(15px);
        text-align: center;
        @include transition(0.2s);
        color:$color-title;
        &:hover{
            a,i{
              @include transition(0.2s);
              color:$color-title;
            }
        }
        i{
          color:#999;
          font-size: 24px;
          @include transition(0.2s);
        }
        >a {
            display: inline-block;
            color:$color-title;
            text-align: center;
            letter-spacing: 1px;
            font-size: 20px;
            text-transform: uppercase;
            &:hover{
              color:$color-title;
              @include transition(0.2s);
            }
        }
    }

    .author-social{
        border-radius: 100%;
        @include size(24px,24px);
        text-align: center;
        line-height: 20px;
        @include rtl-margin-right(3px);
        .fa{
            font-size: 14px;
            @include rtl-padding-right(10px);
        }
    }
}
//sb_instagram
.sb_instagram{
    position: relative;
}
.sbi_follow_btn{
    position: absolute;
    top:15px;
    left: 0;
    right:0;
    .fa-instagram{
        display: block;
        padding-bottom: 10px;

    }
}
#sb_instagram #sbi_load .fa, #sb_instagram .sbi_follow_btn .fa{
    font-size: 24px;
    color: $theme-color;
}
#sb_instagram .sbi_follow_btn a{
    background: none;
    color: #757575;
    font-size: 14px;
}
