//element html default

html{
    height: 100%;
}
body{
    margin: auto;
    font-size: $font-size-base;
    font-weight: 400;
    color: $font-color;
    background: $theme-bg;
    overflow-x:hidden;
    height: 100%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
#page{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
.site-content {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: auto;
    min-height: 0;
}
footer{
    clear: both;
    @include rtl-float-left();
    position: relative;
    @include rtl-right(0px);
    width: 100%;
}

a{
	line-height: 1;
    color: $font-color;
	&:hover,
	&:focus{
            outline: none;
            text-decoration: none;
            color: $theme-color;
	}
}
btn{
    @include transition(0.4s);
    &:hover,
    &:focus{
        @include transition(0.4s);
    }
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 500;
    color: $color-title;
}
h1,h2,h3,h4,h5,h6{
    > a{
        color:$color-title;
    }
}
th{
  font-weight: 500;
}
select{
    height:40px;
    padding: 5px 10px;
    border: $border-color-base;
    font-size: $font-size-base;

}

label{
    color:$color-title ;
    font-size: $font-size-base;
    display:inline-block;
    vertical-align: middle;
    font-weight: 500;
}

b,strong{
    font-weight: 500;
    color: $color-title;
}
.radio, .checkbox{
    display: inline-block;
}
blockquote {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    position: relative;
    font-family: $font-family-two;
    color: $color-title;
    @include rtl-border-left(0);
    padding:20px 50px;
    font-weight: 500;
    &:before{
        content: "";
        top: 0;
        height: 100%;
        left: 0;
        width: 4px;
        position: absolute;
        background:$theme-color;
    }
    p{
        margin-bottom: 15px;
    }
}
ul, ol{
    margin-bottom: 20px;
}
p{
    margin: 0 0 30px;
}
img{
    max-width: 100%;
    height: auto;
}
.img.size-full{
    height: auto;
    max-width: 100%;
}
.alignright{
    @include rtl-float-right();
}
.alignleft{
    @include rtl-float-left();
}
.aligncenter{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input{
    -webkit-appearance: none;
    appearance: none;
    border: medium none;
    border-radius: 3px;
    height: 50px;
    padding: 6px 12px;
}
.form-control{
    -webkit-appearance: none;
    appearance: none;
}
input[type="submit"]{
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    color: $theme-color;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    line-height: 28px;
    padding: 3px 30px;
    text-transform: uppercase;
    font-family: $font-family-two;
    vertical-align: top;
    letter-spacing: 1px;
}
/*video responsive*/
.video-responsive {
    height: 0;
    padding-top: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    embed,
    iframe,
    iframe,
    video{
        top: 0;
        @include rtl-left(0);
        width: 100%;
        height: 100%;
        position: absolute;
        border: none;
    }
}

.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
    max-width: 100%;
}

.audio-responsive iframe {
  width: 100%;
  height: 126px;
}
/*---clear css bootstrap --*/
// .dropdown-toggle
.btn-group.open .dropdown-toggle{
    box-shadow: none;
}
.alert{
    margin: 20px 0;
    padding: 20px;
}

.tags-list a, .tagcloud a {
    background:#FAFAFA;
    border: 1px solid #ddd;
    color: $font-color;
    display: inline-block;
    margin-bottom: 5px;
    @include rtl-margin-left(3px);
    padding: 7px 10px;
    font-size: 14px;
    &:hover{
        color: $theme-color;
    }
}
dt{
    font-weight: 500;
    color: $color-title;
}
.required {
    border: 0 none;
    color: #ff0000;
    font-weight: 700;
}

//Tag
.tagcloud a{
    font-size: 12px !important;
    color: $font-color;
    &:hover{
        color:$color-title;
    }
}

pre{
    border: none;
    border-radius: 0;
}

//table
table{
    background: #FFF;
    color: #212121;
    border: 1px solid #e5e5e5;
    thead{
        background: #FAFAFA;
        > tr > th{
            border-bottom: 1px solid #e5e5e5;
        }
    }
    th{
        font-weight: 400;
    }
    tbody{
        font-size: 13px;
    }
}
#today{
    a{
        color: #FFF;
    }
}
.pagination{
    @include rtl-padding-left(15px);
    width: 100%;
    .screen-reader-text{
        display: none;
    }
    .nav-links{
        margin: 30px 0 0;
       >*{
           background:#eeeeee;
           border: 1px solid #eeeeee;
           display: inline-block;
           height: 40px;
           line-height: 38px;
           margin-right: 10px;
           text-align: center;
           width: 40px;
           font-size: 15px;
           color: #201f1f;
       }
        a{
            color: #201f1f;
            &:hover{
                background: #201f1f;
                color: #FFF;
                border: 1px solid #201f1f;
            }
        }
    }
    .current{
        background:#201f1f;
        color: #FFF;
        border: 1px solid #201f1f;
    }
}

.page-links{
    @include rtl-clear-left();
    .page-numbers{
        color: $theme-color;
        background: #fff none repeat scroll 0 0;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        margin-left: 10px;
        position: relative;
        text-align: center;
        width: 45px;
    }
    .screen-reader-text{
        display: none;
    }
    a > .page-numbers {
        color: $font-color;
        &:hover{
            color: $theme-color;
        }
    }
    a{
        box-shadow:none !important;
    }
}
.searchform{
    .btn-primary{
        border: none;
    }
}
.nav > li > a:hover, .nav > li > a:focus{
    background: none;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    height: auto;
    margin: 0px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    position: relative;
    margin: 0;
}
.aligncenter{
    clear: left;
    clear: right;
}